<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="../senha-painel/static/styel.css">
  <title>Painel de Senhas</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <!-- Cabeçalho com logo, título e relógio -->
  <header>
    <img src="img/icone/logo.png" alt="logo-empresa" />
    <h1>Nome da Empresa</h1>
    <div class="relogio" id="relogio">00:00:00</div>
    <button id="toggle-theme" title="Alternar tema"><span id="icon-tema">🌙</span></button>
  </header>

  <!-- Conteúdo principal -->
  <main>
    <section class="painel-senha">
      <div class="senha-atual">
        <h2>Senha Atual</h2>
        <div class="senha-numero" id="senha">N000</div>
      </div>
    </section>

    <section class="ultima-senha">
      <h3>Senhas Chamadas</h3>
      <ul id="lista-senhas"></ul>
    </section>
  </main>

  <script src="../senha-painel/static/script.js"></script>
</body>
</html>
